<plugin name='correios-br' version='0.1' grailsVersion='1.1.2 &gt; *'>
  <author>Lucas Frare Teixeira</author>
  <authorEmail>lucastex@gmail.com</authorEmail>
  <title>Correios BR Grails Plugin</title>
  <description>Plugin para c‡lculo de frete usando servico dos Correios - Brasil</description>
  <documentation>http://grails.org/plugin/grails-br</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>TesteController</resource>
    <resource>br.com.lucastex.grails.plugins.correios.CorreiosService</resource>
  </resources>
  <dependencies />
</plugin>