<plugin name='correios-br' version='1.0' grailsVersion='1.1.2 &gt; *'>
  <author>Lucas Frare Teixeira</author>
  <authorEmail>lucastex@gmail.com</authorEmail>
  <title>Correios BR Grails Plugin</title>
  <description>Plugin para cálculo de frete usando servico dos Correios - Brasil</description>
  <documentation>http://grails.org/plugin/correios-br</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>FreteController</resource>
    <resource>br.com.lucastex.grails.plugins.correios.CorreiosService</resource>
  </resources>
  <dependencies>
    <resolvers>
      <resolver type='grailsPlugins' name='grailsPlugins' />
    </resolvers>
  </dependencies>
  <behavior />
</plugin>